bcrypt~=4.1.3
dbutils~=3.1.0
pymysql~=1.1.1
pyyaml~=6.0.1
flask~=3.0.0
flask_sqlalchemy
flask_migrate
flask_mail
flask-mail
wtforms~=3.1.2
email_validator
Markdown~=3.5.1
MarkupSafe~=2.1.3
pandas~=2.2.2
matplotlib~=3.9.0
SQLAlchemy~=2.0.30
python-docx
markdown2~=2.4.13
beautifulsoup4~=4.12.3

pyecharts~=2.0.5