<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.4.6.min.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reset.js') }}"></script>

</head>
<body>

<div class="container">
    {#    <h5>请输入您注册时使用的邮箱</h5>#}
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">请输入您注册时使用的邮箱</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <small id="emailHelp" style="color: #9b9b9b;">我们将向您的邮箱发送一个新的密码</small>
            {% with messages = get_flashed_messages(with_categories=true) %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        {% if message=="邮箱未注册！" %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">验证码</label>
            <div class="input-group">
                <input type="text" class="form-control" name="captcha">
                <div class="input-group-append">
                    <button class="btn btn-info" type="button" id="captcha-btn">获取验证码</button>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        {% if message=="验证码错误！" %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="reset-btn">发送密码重置邮件</button>
        <div>
            <a href="{{ url_for('auth.login') }}">登录已有帐号</a>
            <a href="{{ url_for('auth.register') }} " style="float: right;">注册账号</a>
        </div>
    </form>
</div>
</body>
</html>