{% extends "teacher_base.html" %}

{% block body %}
    <div class="layui-container">
        <form class="layui-form" action="/teacher/paper_publish" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">选择试卷</label>
                <div class="layui-input-block">
                    <select name="examID" required lay-verify="required">
                        <option value=""></option>
                        {% for paper in papers %}
                            <option value="{{ paper.hepID }}">{{ paper.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择班级</label>
                <div class="layui-input-block">
                    <select name="courseID" required lay-verify="required">
                        <option value=""></option>
                        {% for course in courses %}
                            <option value="{{ course.courseID }}">{{ course.courseName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布时间</label>
                <div class="layui-input-block">
                    <input type="datetime-local" name="publishTime" required lay-verify="required"
                           placeholder="请输入发布时间" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">截止时间</label>
                <div class="layui-input-block">
                    <input type="datetime-local" name="deadline" required lay-verify="required"
                           placeholder="请输入截止时间" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">考试时长(分钟)</label>
                <div class="layui-input-block">
                    <input type="number" name="duration" required lay-verify="required" placeholder="请输入考试时长"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="success()">发布</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(formDemo)', function (data) {
                layer.msg('发布成功', {
                    icon: 1,
                    time: 2000,
                });
                return false;
            });
        });

    </script>
{% endblock %}