{% extends "teacher_base.html" %}

{% block body %}
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">标签1</li>
            <li>标签2</li>
            <li>标签3</li>
            <li>标签4</li>
            <li>标签5</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">内容-1</div>
            <div class="layui-tab-item">内容-2</div>
            <div class="layui-tab-item">内容-3</div>
            <div class="layui-tab-item">内容-4</div>
            <div class="layui-tab-item">内容-5</div>
        </div>
    </div>
{% endblock %}