{% extends "teacher_base.html" %}

{% block body %}
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            {% for course in data['courses'] %}
                <li>{{ course.courseName }}</li>
            {% endfor %}
        </ul>
        <div class="layui-tab-content">
            {% for course in data['courses'] %}
                <div class="layui-tab-item">
                    {#                        为每个课程的"删除选中列"和"添加学生"按钮以及输入框添加了唯一的ID#}
                    <div class="layui-inline layui-input-wrap">
                        <button class="layui-btn layui-bg-red" id="delete-selected-{{ course.courseID }}">删除选中列
                        </button>
                        <button class="layui-btn" id="add-student-{{ course.courseID }}">添加学生</button>
                        <div class="layui-input-inline layui-input-wrap">
                            <input class="layui-input" type="text" id="student-uid-{{ course.courseID }}"
                                   placeholder="请输入要添加的学生的userID" style="width: 250px;">
                        </div>
                    </div>
                    {#                    为每个课程的表格添加了唯一的ID#}
                    <table class="layui-table"
                           lay-data="{height:315, url:'/teacher/api/get_student/{{ course.courseID }}'}"
                           id="ID-table-demo-init-{{ course.courseID }}">
                        <thead>
                        <tr>
                            <th lay-data="{type:'checkbox', fixed:'left'}"></th>
                            <th lay-data="{field:'userID', width:80, sort: true}">ID</th>
                            <th lay-data="{field:'userName', width:150, sort: true}">用户名</th>
                            <th lay-data="{field:'name', width:150, sort: true}">姓名</th>
                            <th lay-data="{field:'email', sort: true}">邮箱</th>
                            <th lay-data="{field:'grade', sort: true}">课程分数</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // 使第一个班级的标签页显示
            const $tabs = $('.layui-tab-title li');
            $tabs.first().addClass('layui-this');
            const $tabItems = $('.layui-tab-content .layui-tab-item');
            $tabItems.first().addClass('layui-show');

            // 删除选中列
            $('.layui-btn#delete-selected-').click(function () {
                const table = layui.table;
                const checkStatus = table.checkStatus($(this).attr('id').replace('delete-selected-', 'ID-table-demo-init-'));
                const data = checkStatus.data;
                const userIds = data.map(item => item.userID);

                {#通过读取按钮和输入框的ID来获取对应的课程ID,然后在AJAX请求中使用该ID#}
                $.ajax({
                    url: '/teacher/api/get_student/' + $(this).attr('id').replace('delete-selected-', ''),
                    type: 'POST',
                    data: JSON.stringify(userIds),
                    contentType: 'application/json',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            // 添加学生
            $('.layui-btn#add-student-').click(function () {
                const userId = $('#student-uid-' + $(this).attr('id').replace('add-student-', '')).val();
                $.ajax({
                    url: '/teacher/api/get_student/' + $(this).attr('id').replace('add-student-', ''),
                    type: 'POST',
                    data: JSON.stringify([userId]),
                    contentType: 'application/json',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
{% endblock %}
