{% extends "teacher_base.html" %}

{% block body %}
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-tab" lay-filter="courseTab">
                    <ul class="layui-tab-title">
                        {% for course in data['courses'] %}
                            <li {% if loop.first %}class="layui-this"{% endif %}>{{ course.courseName }}</li>
                        {% endfor %}
                    </ul>
                    <div class="layui-tab-content">
                        {% for course in data['courses'] %}
                            <div class="layui-tab-item {% if loop.first %}layui-show{% endif %}">
                                <table class="layui-table" lay-filter="examTable{{ loop.index }}">
                                    <thead>
                                    <tr>
                                        <th lay-data="{field:'userID', sort: true}">学生ID</th>
                                        <th lay-data="{field:'userName', sort: true}">学生姓名</th>
                                        <th lay-data="{field:'score', sort: true}">分数</th>
                                        <th lay-data="{field:'isCompleted', sort: true}">是否已完成答卷</th>
                                        <th lay-data="{field:'actions', sort: false}">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for exam in course['exams'] %}
                                        <tr>
                                            <td>{{ exam.userID }}</td>
                                            <td>{{ exam.userName }}</td>
                                            <td>{{ exam.score if exam.score is not none else '未评分' }}</td>
                                            <td>{{ '是' if exam.content == 1 else '否' }}</td>
                                            <td>
                                                <div class="layui-btn-group">
                                                    {% if exam.content == 1 %}
                                                        {% if exam.score is none %}
                                                            <button class="layui-btn layui-btn-normal"
                                                                    data-id="{{ exam.studentHandInID }}"
                                                                    onclick="correctExam(this)">批改试卷
                                                            </button>
                                                        {% else %}
                                                            <button class="layui-btn layui-btn-primary"
                                                                    data-id="{{ exam.studentHandInID }}"
                                                                    onclick="viewExam(this)">查看试卷
                                                            </button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function correctExam(button) {
            console.log("Correct Exam: " + button.dataset.id);
        }

        function viewExam(button) {
            console.log("View Exam: " + button.dataset.id);
        }

        {#layui.use(['element', 'table'], function(){#}
        {#    var element = layui.element;#}
        {#    var table = layui.table;#}
        {##}
        {#    function renderButtons(index) {#}
        {#        table.init('examTable' + index, {#}
        {#            page: true,#}
        {#            limit: 10,#}
        {#            done: function(res, curr, count){#}
        {#                // Custom render actions column with buttons#}
        {#                res.data.forEach(function(item){#}
        {#                    var tr = document.querySelector('tr[data-index="'+ item.LAY_TABLE_INDEX +'"]');#}
        {#                    if (tr) {#}
        {#                        var td = tr.querySelector('td[data-field="actions"] .layui-table-cell');#}
        {#                        if (td) {#}
        {#                            var buttonHtml = '';#}
        {#                            if(item.isCompleted === '是'){#}
        {#                                if(item.score === '未评分'){#}
        {#                                    buttonHtml = '<div class="layui-btn-group"><button class="layui-btn layui-btn-normal" data-id="'+ item.studentHandInID +'" onclick="correctExam(this)">批改试卷</button></div>';#}
        {#                                } else {#}
        {#                                    buttonHtml = '<div class="layui-btn-group"><button class="layui-btn layui-btn-primary" data-id="'+ item.studentHandInID +'" onclick="viewExam(this)">查看试卷</button></div>';#}
        {#                                }#}
        {#                            }#}
        {#                            td.innerHTML = buttonHtml;#}
        {#                        }#}
        {#                    }#}
        {#                });#}
        {#            }#}
        {#        });#}
        {#    }#}
        {##}
        {#    element.on('tab(courseTab)', function(data){#}
        {#        var courseIndex = data.index + 1;#}
        {#        renderButtons(courseIndex);#}
        {#    });#}
        {##}
        {#    {% for course in data['courses'] %}#}
        {#        renderButtons({{ loop.index }});#}
        {#    {% endfor %}#}
        {#})
            ;
        #}


    </script>
{% endblock %}